.backgroundImage {
  Position:fixed;
  Top: 0;
  left: 0%;
  Opacity: 0.35;
  Z-index: -5000;
}

.backgroundImage img {
  width:100vw;
  height: 135vh;
  object-fit: cover;
}

body{
  margin: 0;
  margin-bottom: 5rem;
  padding-bottom: 5rem; 
  scroll-padding-bottom: 1000px;
}

.line{
  height: .5rem;
  width: 100vw;
  background-color: #f1debc;
  margin-top: .5rem;
}
header{
  text-align: center;
  margin-top: 1,5rem;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(255 227 211), 3px 3px 5px rgb(232 143 110);
}



#restore-id{
  position: fixed;
  top: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  /* font-weight: bolder; */
  height: 3rem;
  /* width: 3rem; */
  cursor: pointer;
}

.hide {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1px) grayscale(.8);
} 

.popup-child {
  background-color: #ce8e8b;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: fit-content;
  margin: auto; 
  margin-top: 15vmin;
  padding: 3vmin;
  position: relative;
  font-size: 3vmin;

}

.popup-child >* {
  display: block;
  font-size: 1em;
  padding: .1em;
}

#percentRange, #editPercentRange {
  width: 100%;
  margin: .5em -.1em;
}

#percentLabel, #editPercentLabel {
  text-align: center;
}

.popup-child button{
  margin: auto;
  margin-top: .5em;
}

.exit-button{
  position: absolute;
  top: .5rem;
  right: .5rem;  
  height: 1.5em;
  width: 1.5em;
}

#book-container{
  /* position: sticky; */
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.no-book{
  text-align: center;
  font-size: 2rem;
  margin: auto;
  margin-top: 1.5rem;
}

.book-list{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  margin-bottom: 1.9rem;
  width: 9rem;
  height: auto;
  min-height: 9.5rem;
  text-align: center;
  background-color: #a8a8ab; 
  padding-bottom: 1.5rem;
  /* border: 5px solid lightslategray; */
  border-left: 13px solid lightslategray;
  -webkit-box-shadow: 5px 5px 15px 5px #686868; 
  box-shadow: 5px 5px 15px 5px #686868;
}

.add-botton{
  font-size: x-large;
  align-items: center;
  cursor: pointer;
  padding: 0;
}

.add-botton:hover{
  background-color: #8b8b8b; 
}

.title, .author, .page  {
   margin: 0 1rem;
   padding: 0;
}

.book-Button {
  width: 50%;
  font-size: .8rem;
  font-weight: bolder;
  padding: .35rem;
  border: none;
  /* color: white; */
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.edit-Book-Button{
  background-color: #b0c2d5;
  left: 0;
}

.delete-Book-Button{
  background-color: #e47572;
  right: 0;
}

/* .main-bttn{
  text-align: center;
  position: fixed;
  bottom: 2.2rem;
  width: 100vw;
  background-image: url(IMG_20210520_213142.jpg);
} */



.fixed-footer{
  width: 100%;
  position: fixed;        
  background: #7a7a7a;
  padding: .3rem;
  margin-left: -.6rem;
  color: #FF9900;
  bottom: 0;
  vertical-align: top;
}

.fixed-footer img {
  height: 1.3rem;
  vertical-align: bottom;
  padding: 0 2px;
}