.backgroundImage {
  Position:fixed;
  Top: 0;
  left: 0%;
  /* Width: 100vh; */
  /* Height: 100vmin; */
  Opacity: 0.35;
  Z-index: -5000;
}

.backgroundImage img {
  width:100vw;
  height: 135vh;
  object-fit: cover;
}

body{
  margin: 0;
  margin-bottom: 4rem;
}

.hide {
  display: none;
 
}

.popup {
  white-space: pre; 
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: indigo;
  /* opacity: .9; */
  top: 0;
  bottom: 0;
}

.popup--child{
  background-color: burlywood;
  margin: auto;
  width: fit-content;
}

.popup--child > * {
  font-size: large;
  /* margin-left: -2.5rem;
  margin-bottom: .5rem; */
}

#percentRange {
  /* width: 16rem;
  margin: 0% 25%; */
}

#percentLabel{
  /* margin: 0% 25%; */
}

#submit{
  /* margin: 0% auto; */
}

#book-container{
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.booklist{
  /* margin-top: 20px; */
  flex: none;
  /* width: 8rem; */
  margin-right: 2rem;
  margin-top: 2rem;
  padding: .7rem;
  text-align: center;
  background-color: blueviolet; 
}

.booklist > * {
  margin: .2rem;
}

.bookButton {
  width: 50%;
  margin: 0;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  
}

.editBookButton{
  background-color: red;
  margin-left: -1.4rem;
}

.deleteBookButton{
  background-color:cornflowerblue;
  
}


/* .author {
    font-size: 1rem;
  } */




.fixed-footer{
  width: 100%;
  position: fixed;        
  background: #7a7a7a;
  padding: .3rem;
  margin-left: -.6rem;
  color: #FF9900;
  bottom: 0;
  vertical-align: top;
}

.fixed-footer img {
  height: 1.3rem;
  vertical-align: bottom;
  padding: 0 2px;
}